:root {
    --bs-link-color: #c2506e;
    --bs-link-hover-color: #c2506e;
  }

.nav-pills {
    --bs-nav-pills-link-active-bg: #c2506e;
  }

.nav-pills a:hover {
    border: 1px solid #c2506e;
  }
  
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c2506e;
    --bs-btn-border-color: #c2506e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c2506e;
    --bs-btn-hover-border-color: #c2506e;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c2506e;
    --bs-btn-active-border-color: #c2506e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c2506e;
    --bs-btn-disabled-border-color: #c2506e;
  }

.btn-outline-primary {
    --bs-btn-color: #c2506e;
    --bs-btn-border-color: #c2506e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c2506e;
    --bs-btn-hover-border-color: #c2506e;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c2506e;
    --bs-btn-active-border-color: #c2506e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c2506e;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c2506e;
    --bs-gradient: none;
  }

body {
    background-color: #F6F5F8;
    box-sizing: border-box;
}

navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 12px;
    width: 72px;
}

h3 {
    font-size: 1.5rem;
    color: #c2506e;
    font-weight: bold;
    margin-top: 1rem;
}

textarea {
    width: 100%;
    border: none;
    margin-top: 1rem;
}

.main-app {
    padding-bottom: 56px;
}

.nav-container {
    height: 90%;
}

div.app {
    display: flex;
    flex-direction: row;
}

.my-gallery-container {
    margin-left: 96px;
    flex: 1;
    scrollbar-width: none; 
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: none; 
}

.upload-container {
    margin-left: 110px;
    flex: 1;
    flex-direction: column;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feed-container {
    margin-left: 96px;
    flex: 2;
    overflow-y: auto;
    /* height: 100vh; */
    scrollbar-width: none; 
}

.feeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.status-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
    scrollbar-width: none; 
}

li.profile-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i.status-icon {
    border-radius: 50%;
    font-size: 4rem;
    color: #c2506e;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-top: 30px;
    padding-right: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    max-width: 600px;
    min-width: 600px;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
}

.content-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap:0.3rem;
}

.content-header i {
    font-size: 2rem;
    margin-right: 10px;
}

.content-header p {
    margin-bottom: 0;
    display: block;
}

.username-time {
    display: flex;
    flex-direction: column;
    
}

.content-body p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.content-header p.username {
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.9rem;
}

.content-header p.time {
    font-size: 0.7rem;
}

.feed-title {
    color: #c2506e;
    font-weight: bold;
}

.profile-title {
    color: #c2506e;
    font-weight: bold;
    /* margin-top: 40px; */
}

.content-body img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.search-bar input,
.search-bar-icon {
    border-color: #c2506e4a;
    background-color: #c2506e4a;
}

.search-bar input::placeholder {
    color: #c2506e;
}

aside {
    display: flex;
    margin-right: 50px;
    margin-top: 40px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex:1;
}

.aside-container {
    justify-content: center;
}

.main-profile {
    position: sticky;
    top: 25px;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #c2506e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    margin: 0;
}

.main-profile i {
    font-size: 3rem;
}

.main-profile-name {
    font-weight: bold;
}

.list-group {
    width: 100%;
    /* max-width: 350px; */
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.followers-tab {
    margin-top: 20px;
}

.dropzone-profile {
    width: 180px; 
    height: 180px;
	border: 1px dashed #999;
	border-radius: 10px;
	text-align: center;
    position: relative;
}

.img-preview-profile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.upload-icon-profile {
    width: 70px;
    height: 70px;
	margin: 55px 2px 2px 2px;
}

.upload-input-profile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
    z-index: 20;
}

.container-comment {
    height: 400px;
    overflow-y: hidden;
}

.commentForm {
    width: calc(100% - 24px);
    background-color: #fff;
}

.modalImage {
    width: 100%; 
    min-width: 360px; 
    min-height: 360px; 
    object-fit: cover; 
    border-radius: 5px 0 0 5px;
}

.modalImageBackground {
    display: none;
}

@media (max-width: 768px) {
    .my-gallery-container, .upload-container, .feed-container {
        margin-left: 0;
    }

    .status-list {
        margin: 0;
    }

    .content {
        min-width: 240px;
    }

    .content-body img {
        min-width: 240px;
        min-height: 240px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .modalImage {
        display: none;
        border-radius: 5px 5px 5px 5px;       
    }
    .modalImageBackground {
        display: inline;
        position: absolute;
        width: 100%; 
        min-height: 400px; 
        object-fit: cover; 
        padding: 0;
        border-radius: 5px 5px 5px 5px;   
    }
    .modalImageContainer {
        z-index: 10;
        height: 400px; 
        background: transparent;
    }
    .comment-content {
        z-index: 10;
        background-color: #F6F5F8;
        border-radius: 5px 5px 5px 5px;   
    }   

    .commentForm {
        width: calc(100% - 24px);
        /* background-color: #fff; */
    }
    .container-comment {
        overflow-y: auto;
    }
}