<div class="card">
    <form>
        <h1>Profile Card</h1><label for="photo-upload" class="custom-file-upload fas">
            <div class="img-wrap img-upload"><img for="photo-upload"
                    src="https://github.com/OlgaKoplik/CodePen/blob/master/profile.jpg?raw=true"></div><input
                id="photo-upload" type="file">
        </label>
        <div class="field"><label for="name">name:</label><input id="name" type="text" maxlength="25"
                placeholder="Alexa" required="" value=""></div>
        <div class="field"><label for="status">status:</label><input id="status" type="text" maxlength="35"
                placeholder="It's a nice day!" required="" value=""></div><button type="submit" class="save">Save
        </button>
    </form>
</div>